body {
  height: 100%;
  width: 100%;
  padding: 0;
  margin:0;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background-color: transparent;
  /*overflow: hidden;*/
  /*background-image: url(../images/britishflag2.jpg);*/
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;

}
#overlay{
  background: transparent;
position: absolute;
  z-index: -1;
  min-width: 100%;
  min-height: 100%;
  background-repeat:no-repeat;
  background-attachment:fixed;
  background-position:center;
  background-image: url("../images/blackred.png");
  opacity: 0.7;
}
#content{
  width: 100%;
  height: 100%;
  background-color: transparent;

}

nav{
  z-index:1000;
}
html {
  /*background: url(../images/bg1.png) no-repeat center center fixed;*/
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height:100%;
  width:100%;
  background: #e4e9f1; /* For browsers that do not support gradients */
  background: -webkit-linear-gradient(-90deg, white,white, rgba(255, 255, 255, 0)); /* For Safari 5.1 to 6.0 */
  background: -o-linear-gradient(-90deg, white,white, rgba(255, 255, 255, 0)); /* For Opera 11.1 to 12.0 */
  background: -moz-linear-gradient(-90deg, white,white, rgba(255, 255, 255, 0)); /* For Firefox 3.6 to 15 */
  background: linear-gradient(-90deg, white,#e4e9f1, rgba(255, 255, 255, 0)); /* Standard syntax */

}

a {
  color: #00B7FF;
}
#homepage-brand{
    margin: 25px;
}

#carousel{
    max-height: 50%;
}
#logo-container{
position: absolute;
  bottom:40px;
  right:40px;
  text-align: right;

  width: 90%;


  overflow: visible;

}

/*.carousel-item{*/
  /*padding: 50px 150px;*/
/*}*/
.logo-container1{
  align-content: center;
}

body, html {
  height: 100%;
}
.img-responsive{
  height: auto ;
  max-width: 250px;
}
.bg {
  /* The image used */
  background-image: url("../images/bg1.png");

  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

@font-face { font-family: mistral; src: url('../font/MISTRAL.TTF'); }
@font-face { font-family: futura; src: url('../font/futura.TTF'); }

.big-title{
  font-family: mistral;
}
.biglogo-spinner1{

max-height: 150px; /*padding-top: 70px;*/

}

.shadow{
  width:40%;
  padding:0px;
}
@font-face {
  font-family: "bodoni";
  src: url("../font/bodoni.ttf"); /* TTF file for CSS3 browsers */
}
#title {
  /*position: absolute;*/
  /*top: 50%;*/
  /*left: 50%;*/
  /*transform: translateX(-50%) translateY(-50%);*/
 }
.title-container{
  width: 100%;
}
h2{
  font-size: 20px;
}

#products{

  position: relative;
;


;}
#about{

  position: relative;
  /*top: 38%;*/


;}
a {
  color: black;
  font-weight: 400;

  text-decoration: none;
  size: 40px;
}


.btn {
  background: #c2e7ff;
  background-image: -webkit-linear-gradient(top, #c2e7ff, #3799d6);
  background-image: -moz-linear-gradient(top, #c2e7ff, #3799d6);
  background-image: -ms-linear-gradient(top, #c2e7ff, #3799d6);
  background-image: -o-linear-gradient(top, #c2e7ff, #3799d6);
  background-image: linear-gradient(to bottom, #c2e7ff, #3799d6);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #bde6ff;
  background-image: -webkit-linear-gradient(top, #bde6ff, #68acd9);
  background-image: -moz-linear-gradient(top, #bde6ff, #68acd9);
  background-image: -ms-linear-gradient(top, #bde6ff, #68acd9);
  background-image: -o-linear-gradient(top, #bde6ff, #68acd9);
  background-image: linear-gradient(to bottom, #bde6ff, #68acd9);
  text-decoration: none;
  color: white;
}


#brand-logo{
  display: inline;
}

#iluminate{
  position: absolute;
  top: calc(50% - 20px);
  left: calc(50% - 20px);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background-color: #fff;
  box-shadow:
          0 0 60px 30px #fff,
          0 0 100px 60px #f0f,
          0 0 140px 90px #0ff;
}

#content{
  width: 100%;
  height: 100%;
  display: table;
  text-align: center;
}
#center{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
}

nav ul li a:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1), inset 0 0 1px rgba(255, 255, 255, 0.6);
  background: rgba(255, 255, 255, 0.1);
  color: rgba(0, 0, 0, 0.7);
}
nav ul li {
  padding: 0 15px;
  color: #000;
  font-family: futura;
}
nav{
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#f2f5f6+0,e3eaed+37,c8d7dc+100;Grey+3D+%234 */
  background: rgb(51, 52, 53); /* Old browsers */
  background: -moz-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(39, 42, 45) 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, rgb(0, 0, 0) 0%, rgb(39, 43, 45) 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, rgb(0, 0, 0) 0%, rgb(41, 44, 45) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f2f5f6', endColorstr='#c8d7dc',GradientType=0 ); /* IE6-9 */

}

.navbar-default{
  background-color: #000000;
  border-color: transparent;
  color: #000;

}
navbar-nav>li>a{
  color: #000;
}

#product-component-08172e2b87f{
  margin-top: 100px;
}
@media screen and (max-width: 767px) {
  #product-component-08172e2b87f {
    margin-top: 50px;
  }


}